html, body {
    height: 100%;
    max-width: 1200px;
    margin: 2% auto;
    padding: 0;
}

h1 {
    font-size: 2em;
}

#banner {
    overflow: hidden;
    padding: 15em 0em;
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    border-top: 1px solid rgba(0,0,0,0.08);
}

#car {
    position: absolute;
    bottom: 5%;
    animation: example 3s  infinite;
    animation-duration: 4s;
}

@keyframes example {
    0% {
        left: 15%;
    }
    100% {
        left: calc(65% - 100px);
    }
  }